#SearchEngine{
    border-radius: 0.8rem;
    padding-left: 0.5rem;
    border: none;
    outline: none;
    height: 2rem;
    width: 25%;
}
.SearchEngine{
    display: flex;
    justify-content: center;
    width: 100%;
}
.SearchEngine svg {
    margin-left: 0.5rem;
    height: 1.8rem;
    align-self: center;
}
